#deze file is een boodschappenlijstje voor python het vertelt aan docker om deze libraries te installeren

#flask is webserver-framework en zorgt ervoor dat je routes kan maken
flask
#pytesseract is de ocr-wrapper die tekst uit je afbeeldingen haalt
pytesseract
#python image library (PIL) nodig om afbeeldingen te openen in te lezen en door te geven aan pytesseract
Pillow
#mongo db driver om met mongodb te communiceren
pymongo
#bcrypt voor veilige wachtwoord hashing
bcrypt
